<link href="../../Scripts/css/style.css" rel="stylesheet" />
<div>
        
    <div class="col-lg-2" style="font-size:12px;padding-left:80px;padding-top:40px;">
        <strong> Filter</strong>
        <br />
        <br />
        <strong> Category</strong>
        <div ng-repeat="model in facetresults">
            <input type="checkbox" ng-model="model.isSelected" />{{model.facet}} <strong> ({{model.count}})</strong>
        </div>
        <br />
        <strong> File Types</strong>
        <div ng-repeat="model in facetfiletypes">
            <input type="checkbox" ng-model="model.isSelected" />{{model.facet}}
        </div>

        <br />
        <button ng-click="applyfilter()">Filter</button>
    </div>

    <div class="bs-example col-lg-10" data-example-id="media-alignment">
        <div>
            <img src="../../images/prev.jpg" style="margin-left: 80%; width: 20px; height: 20px; cursor:pointer;" ng-click="PrevPageResult();" ng-disabled="isPrevAvailabale == 0" />
            <span style="color: #3B73AF;"><b> {{showSearchResultRange}}</b></span>
            <img src="../../images/next.jpg" style="margin-left: 4px; width: 20px; height: 20px; cursor:pointer;" ng-click="NextPageResult();" ng-disabled="searchresults.length < 5" />
        </div>
         <br />
        <div ng-repeat="model in searchresults" style="width:87%">
            <div class="media" style="border-bottom: 1px solid #3B73AF">
                <div class="media-left">
                    <a ng-click="registerCourse(model.ID)" style="cursor:pointer">
                        <img class="media-object" style="width: 64px; height: 64px;" src={{model.BLOB_URL}} alt="64x64" data-holder-rendered="true">
                    </a>
                </div>
                <div class="media-body">

                    <div class="panel-success-style" style="background-color: rgba(119, 170, 232, 0.11); color: #3B73AF; ">
                        <div class="panel-heading" style="cursor:pointer">
                            <!-- <a ng-href="registerCourse(model.ID)"><h3 class="panel-title"><b>{{model.CourseTitle}}</b></h3></a>-->
                            <a ng-click="registerCourse(model.ID)"><b>{{model.CourseTitle}}</b></a>
                        </div>
                        <div class="panel-body" style="font-size:12px;padding:0px 0px 15px 15px;">
                            {{model.Description}}
                        </div>

                        <!--<div class="panel-footer">-->
                        <!-- <button ng-click="registerCourse(model.ID)">View</button>-->
                        <!--<img src="../../images/view.jpg" style="height:26px;width:57px;" ng-click="registerCourse(model.ID)" />-->
                        <!--</div>-->
                    </div>



                </div>
            </div><br />

        </div>

        <div>
            <img src="../../images/prev.jpg" style="margin-left: 80%; width: 20px; height: 20px;" ng-click="PrevPageResult();" ng-disabled="isPrevAvailabale == 0" />
            <span style="color: #3B73AF;"><b> {{showSearchResultRange}}</b></span>
            <img src="../../images/next.jpg" style="margin-left: 4px; width: 20px; height: 20px;" ng-click="NextPageResult();" ng-disabled="searchresults.length < 5" />
        </div>
        <br />
        
    </div>
</div>
