	################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ELearning.Database/bin/Debug
/ELearning.Database/obj/Debug
/ELearning.SharedLibrary/bin/Debug
/ELearning.SharedLibrary/obj/Debug
/ELearning.Web.Library/bin/Debug
/ELearning.Web.Library/obj/Debug
/ELearning.Web.Test/bin/Debug
/ELearning.Web.Test/obj/Debug
/ELearning.WebAPI.Library/bin/Debug
/ELearning.WebAPI.Library/obj/Debug
/ELearning.WebAPI.Test/bin/Debug
/ELearning.WebAPI.Test/obj/Debug
/ELearningWebAPIApp/App_Data
/ELearningWebAPIApp/bin/Debug
/ELearningWebAPIApp/obj/Debug
/ELearningWebApp.v12.suo
/README.txt
/ELearning.Database/ELearning.Database.sqlproj.user
/ELearning.SharedLibrary/ELearning.Shared.csproj.user
/Elearning.Web.Library/Elearning.Web.Library.csproj.user
/ELearning.Web.Test/ELearning.Web.Test.csproj.user
/ELearning.WebAPI.Library/ELearning.WebAPI.Library.csproj.user
/ELearning.WebAPI.Test/ELearning.WebAPI.Test.csproj.user
/ELearningWebAPIApp/ELearning.WebAPI.csproj.user
/Elearning.Web/Elearning.Web.csproj.user
*.suo
/ELearningWebAPIApp/bin
/ELearningWebApp/bin
/Elearning.Web/bin
/Elearning.Web/obj