	################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ELearning.Database/bin
/ELearning.Database/obj
/ELearning.SharedLibrary/bin
/ELearning.SharedLibrary/obj
/ELearning.Web.Library/bin
/ELearning.Web.Library/obj
/ELearning.Web.Test/bin
/ELearning.Web.Test/obj
/ELearning.WebAPI.Library/bin
/ELearning.WebAPI.Library/obj
/ELearning.WebAPI.Test/bin
/ELearning.WebAPI.Test/obj
/ELearningWebAPIApp/App_Data
/ELearningWebAPIApp/bin
/ELearningWebAPIApp/obj
/Elearning.Web/bin
/Elearning.Web/obj
/README.txt
/ELearning.Database/ELearning.Database.sqlproj.user
/ELearning.SharedLibrary/ELearning.Shared.csproj.user
/Elearning.Web.Library/Elearning.Web.Library.csproj.user
/ELearning.Web.Test/ELearning.Web.Test.csproj.user
/ELearning.WebAPI.Library/ELearning.WebAPI.Library.csproj.user
/ELearning.WebAPI.Test/ELearning.WebAPI.Test.csproj.user
/ELearningWebAPIApp/ELearning.WebAPI.csproj.user
/Elearning.Web/Elearning.Web.csproj.user
*.suo
/ELearning.Database/ELearning.Database.dbmdl
/Elearning.Web/images/images.jpg
/packages
