<div style="background-color: #309BBE">
    <br />
    <div class="col-lg-1"></div>
    <div class="col-lg-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown>

                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img ng-src="/images/BrowseCourseImage1.png" height="50" width="50" class="header-profile-image" />
                    </button>*@

                <img ng-src="/images/BrowseCourseImage1.png" height="50" width="50" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">



                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="">Category 1</a></li>
                    <li class="divider"></li>
                    <li><a href="">Category 2</a></li>
                    <li class="divider"></li>
                    <li><a href="">Category 3</a></li>
                    <li class="divider"></li>
                    <li><a href="">Category 4</a></li>
                    <li class="divider"></li>
                    <li><a href="">Category 5</a></li>
                    <li class="divider"></li>
                    <li><a href="">Category 6</a></li>
                    <li class="divider"></li>
                </ul>

            </li>
        </ul>
    </div>
    <div class="col-lg-8">
        <div class="input-group col-lg-12">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Search your technology...." aria-describedby="basic-addon1">
        </div><br />
    </div>
    <br /><br />
    <br />
</div>

<div class="header_banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active  image-wid">
                <img src="/images/AngularJS.png" alt="..." class="img-responsive">

            </div>
            <div class="item  image-wid">
                <img src="/images/Azure.png" alt="..." class="img-responsive">

            </div>
            <div class="item  image-wid">
                <img src="/images/Java.png" alt="..." class="img-responsive">

            </div>
            <div class="item  image-wid">
                <img src="/images/MSSQLServer.png" alt="..." class="img-responsive">
            </div>
            <div class="item  image-wid">
                <img src="/images/Salesforce.png" alt="..." class="img-responsive">

            </div>
            <div class="item  image-wid">
                <img src="/images/TestNG.png" alt="..." class="img-responsive">
            </div>

        </div>
        <!-- Controls -->
        @*<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>*@
    </div>
</div>

@*<div class="header_banner">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
                <li data-target="#myCarousel1" data-slide-to="3"></li>
            </ol>
            <br /><br />
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active  image-wid">



                    <!--<iframe width="700" height="205" src="https://www.youtube.com/embed/ejBkOjEG6F0" frameborder="0" allowfullscreen></iframe>-->
                    <!--<div>Check out videos</div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-u-j7uqU7sI?list=PL6gx4Cwl9DGBMdkKFn3HasZnnAqVjzHn_" frameborder="0" allowfullscreen ></iframe>-->
                    <img src="/images/app.jpg" alt="..." class="img-responsive">
                    <!--<div class="carousel-caption">
                        <h3>There is no death to learning</h3>
                        <p>Click on Read more to explore more</p>
                        <button type="button" class="btn btn-info sld">Read more</button>
                    </div>-->

                </div>
                <!--<div class="item  image-wid">
                    <iframe width="400" marginwidth="10px" height="205" src="https://www.youtube.com/embed/-u-j7uqU7sI?list=PL6gx4Cwl9DGBMdkKFn3HasZnnAqVjzHn_" frameborder="0" allowfullscreen></iframe>
                </div>-->
                <div class="item  image-wid">
                    <img src="/images/offer1.jpg" alt="..." class="img-responsive">
                </div>
                <div class="item  image-wid">
                    <img src="/images/offer2.jpg" alt="..." class="img-responsive">

                </div>
                <div class="item  image-wid">
                    <img src="/images/offer3.jpg" alt="..." class="img-responsive">
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>*@

<div class="footer">
    <div class="container">
        <div class="footer-text">
            <h3><a href="index.html">E-Pathshala</a></h3>
            <p>&#169;E-Pathshala Designed by <a href="http://www.persistent.com/" target="_blank">Persistent</a></p>
        </div>
    </div>
</div>