<!DOCTYPE html>
<html ng-app="ELearning.Web" ng-controller="LandingPageController" ng-init="authentication=false">
<head>

    <title>CourseCloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Play-Offs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="~/bundles/ELearning.Web/"></script>
    <link href='~/Content/css' rel='stylesheet' type='text/css'>
</head>
<body>
    @*<ul>
            <li><a href="/#/routeOne">Route One</a></li>
            <li><a href="/#/routeTwo/6">Route Two</a></li>
            <li><a href="/#/routeThree">Route Three</a></li>
        </ul>

        <ul>
            <li><a href="/#/login">Login</a></li>
            <li><a href="/#/register">Register</a></li>
        </ul>*@
    <div class="header" id="home">

        <div class="header_nav" id="home" style="background-color:red">
            <nav class="navbar navbar-default chn-gd">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <img src="./images/ELearningLogoImage.png" alt="..." class="img-responsive" width="70" height="70">

                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" ng-hide="authentication">
                            <li>
                                <a href="#home" class="scroll">
                                    <span class="glyphicon glyphicon-list-alt icn_pos hm" aria-hidden="true"></span><br>
                                    Become  a Publisher
                                </a>
                            </li>
                            <!---->
                            <li>
                                <a href="#features" class="scroll">
                                    <span class="glyphicon glyphicon-pencil icn_pos" aria-hidden="true"></span><br>
                                    Interested in Review
                                </a>
                            </li>
                            <!---->

                            <li>
                                <a data-target="#myModal" data-toggle="modal" href="#doc" class="scroll">
                                    <span class="glyphicon glyphicon-download icn_pos" aria-hidden="true"></span><br>
                                    Login
                                </a>
                            </li>
                            <!---->
                            <li>
                                <a href="#acheive" class="scroll">
                                    <span class="glyphicon glyphicon-hand-up icn_pos hm2" aria-hidden="true"></span><br>
                                    Sign Up
                                </a>
                            </li>


                            <!---->
                            <!--script-->
                            <script type="text/javascript">
                                jQuery(document).ready(function ($) {
                                    $(".scroll").click(function (event) {
                                        event.preventDefault();
                                        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
                                    });
                                });
                            </script>
                            <!--script-->
                        </ul>

                        @*<ul class="nav navbar-nav navbar-right" ng-show="authentication">
                                <li>
                                    <a href="#home" class="scroll">
                                        <span class="glyphicon glyphicon-list-alt icn_pos hm" aria-hidden="true"></span><br>
                                        {{user}}
                                    </a>
                                </li>
                            </ul>*@

                        <ul class="nav navbar-nav navbar-right" ng-show="authentication">
                            <li class="dropdown" dropdown>
                                @*<a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                                        <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                                        <span ng-bind="user"></span> <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a>Edit Profile</a>
                                        </li>
                                        <li>
                                            <a>Change Password</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="/api/auth/signout" target="_self">Signout</a>
                                        </li>
                                    </ul>*@

                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img ng-src="/images/prof.jpg" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                                    <span ng-bind="user"></span> <b class="caret"></b>
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Edit Profile</a></li>
                                    <li><a href="#">Change Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#/routeOne"><div ng-click="logout()"> Logout</div></a></li>
                                </ul>

                            </li>
                        </ul>


                    </div><!-- /.navbar-collapse -->


                    <div class="clearfix"></div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>


    </div>

    <div ng-view></div>


    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>

                    <br />
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-eye-close" id="basic-addon1"></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-6">
                        <img src="./images/linked in.png" alt="No image" class="img-responsive col-lg-1">
                        <img src="./images/twitter.png" alt="No image" class="img-responsive col-lg-1">
                        <input class="col-lg-1" type="checkbox" value="remember-me"> Remember me
                    </div>


                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="login(modal)">Login</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>






