
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="../../Scripts/css/style.css" rel="stylesheet" />
<div ng-controller="CourseDetailsController" ng-init="initialize()" style="margin-left:8px">

    <div class="panel panel-success-style">
        <!--<div class="panel-heading" style="background-color: rgb(206, 226, 243); color: #3B73AF; border: #3B73AF;">
            <h3 class="panel-title" style="margin-left:500px;">
                {{course.CourseTitle}}
            </h3>
        </div>-->
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" style="width: 200px; height: 200px;" src={{courseImageUrl}} alt="64x64" data-holder-rendered="true">
        </div>
        <div class="media-body" style="background: rgba(119, 170, 232, 0.11); color: #3b73af; border:1px solid #3b73af">

            <div class=" col-lg-10">
                <div>

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a ng-click="btnClickDescription()">Description</a></li>
                        <li role="presentation" class="active"><a ng-click="btnClickOutline()">Outline</a></li>
                    </ul>

                </div><br />
                <div ng-show="isDescription">
                    <h3 class="panel-title" style="margin-bottom:5px">
                        {{course.CourseTitle}}
                    </h3>
                    <strong style="color: #3b73af">
                        Description: {{course.Description}}
                        <br />
                        Created On: {{course.CreatedON | date:'dd-MM-yyyy'}}
                    </strong>
                </div>
                <div ng-hide="isDescription">
                    <strong style="color:skyblue">
                        Outline: {{course.Description}}
                        <br />
                        Tags: {{course.Tags}}
                    </strong>
                </div>
            </div>
            <div class="col-lg-2" style="margin-top:25px">
                <div>
                    <img src="../../images/view_icon_new.png" style="width:25px;height:25px" title="View" />
                    <!--<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>-->
                    <span class="badge">{{course.Views}}</span>
                </div><br />
                <div>
                    <img src="../../images/like_new.png" style="width:25px;height:25px" title="Like" ng-click="btnLikeCourse()" ng-show="isCourseLiked" />
                    <img src="../../images/liked_new.png" style="width:25px;height:25px" title="Like" ng-click="btnLikeCourse()" ng-hide="isCourseLiked" />
                    <!-- <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>-->
                    <span class="badge">{{course.Likes}}</span>
                </div><br />
                <div>
                    <img src="../../images/enrollment_new.png" style="width:25px;height:25px" title="Enrollment" />
                    <!--<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>-->
                    <span class="badge">{{course.Enrollments}}</span>
                </div><br />
                <div>
                    <!--<button class="btn btn-success">Enroll <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> </button>-->
                    <img src="../../images/EnrollNow.jpg" style="height:30px;width:85px;" ng-click="btnEnrollClick();" ng-hide="isCourseEnrolled" />
                    <div ng-show="isCourseEnrolled"><strong> User has enrolled for this course </strong></div>
                </div>


            </div>

        </div>

        <div class="panel-body accordion" style="border: 2px; background: rgba(119, 170, 232, 0.11);">
            <strong>Topics:</strong><br /><br />

            <div class="list-group accordion-section" ng-repeat="topic in course.ChapterDetails" style="cursor: pointer; background: rgba(119, 170, 232, 0.11); border: 1px solid #3b73af; ">

                <div id="accordionParent-{{$index}}" style="font:bold 10px;height:35px;border-radius:1px;" class=" list-group-item accordion-section-title" href="#accordionChild-{{$index}}" ng-click="clickSectionTitle($index)">
                    <img id="imgExpandCollapse-{{$index}}" src="../../images/expand.png" />{{topic.ChapterTitle}}
                </div>
                <div id="accordionChild-{{$index}}" class="accordion-section-content" style="cursor: pointer;">
                    <div ng-repeat="chapter in topic.ChapterContents" style="height:30px;">
                        <ul>
                            <li>
                                <div>

                                    <a class="list-group-item view-pdf" style="background: rgb(233, 239, 246); border: rgb(233, 239, 246);" ng-click="openPdf(chapter.Title, chapter.FileBlobURL)">
                                        <img src="../../images/List-Style.jpg" style="width:10px;height:10px;">&nbsp;{{chapter.Title}}<img />
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer" style="background: rgba(119, 170, 232, 0.11); border: rgba(119, 170, 232, 0.11); ">
            <strong>User's who viewed this course also viewed: TBD</strong>
        </div>
    </div>




</div>