
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="../../Scripts/css/style.css" rel="stylesheet" />
<div ng-controller="CourseDetailsController" ng-init="initialize()" style="margin-left:8px">
    
    <div class="panel panel-success-style">
        <div class="panel-heading" style="background-color: rgb(206, 226, 243); color: #3B73AF; border: #3B73AF;">
            <h3 class="panel-title" style="margin-left:500px;">
                {{course.CourseTitle}}
            </h3>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" style="width: 200px; height: 200px;" src={{courseImageUrl}} alt="64x64" data-holder-rendered="true">
            </a>
        </div>
        <div class="media-body" style="background-color:aliceblue">

            <div class="col-lg-10">
                <div>                

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a ng-click="btnClickDescription()">Description</a></li>
                        <li role="presentation" class="active"><a ng-click="btnClickOutline()">Outline</a></li>
                    </ul>

                </div><br />
                <div ng-show="isDescription">
                    <strong style="color:skyblue">
                        Description: {{course.Description}}
                        <br />
                        Created On: {{course.CreatedON}}
                    </strong>
                </div>
                <div ng-hide="isDescription">
                    <strong style="color:skyblue">
                        Outline: {{course.Description}}
                        <br />
                        Tags: {{course.Tags}}
                    </strong>
                </div>
            </div>
            <div class="col-lg-2">
                <div>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    <span class="badge">{{course.Views}}</span>
                </div><br />
                <div>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span class="badge">{{course.Likes}}</span>
                </div><br />
                <div>
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    <span class="badge">{{course.Enrollments}}</span>
                </div><br />
                <div>
                    <button class="btn btn-success">Enroll <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> </button>
                </div>


            </div>

        </div>

        <div class="panel-body accordion" style="border: 2px; background: rgba(119, 170, 232, 0.11);">
            <strong>Topics:</strong><br /><br />

            <div class="list-group accordion-section" ng-repeat="topic in course.ChapterDetails" style="cursor: pointer;">

                <div id="accordionParent-{{$index}}" class="list-group-item accordion-section-title" href="#accordionChild-{{$index}}" ng-click="clickSectionTitle($index)">{{topic.ChapterTitle}}</div>
                <div id="accordionChild-{{$index}}" class="accordion-section-content" style="cursor: pointer;">
                    <div ng-repeat="chapter in topic.ChapterContents">
                        <ul>
                            <li>
                        <a class="list-group-item view-pdf" ng-click=openPdf(chapter.Title)>{{chapter.Title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer" style="background: rgba(119, 170, 232, 0.11); border: rgba(119, 170, 232, 0.11); ">
            <strong>User's who viewed this course also viewed: TBD</strong>
        </div>
    </div>




</div>