<div ng-controller="SearchController" ng-init="intitalizevalues()">

    <div style="background-color: #517390; ">
        <br />
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                                                           
                    <div ng-mouseover="Show" ng-dropdown-multiselect="" search-filter="customFilter" options="resultdata" selected-model="categoryselected" extra-settings="categorysettings" translation-texts="example5customTexts"></div>
                    
                    
                </li>
            </ul>
        </div>
        <div class="col-lg-8">
            <div class="input-group">
                <input type="text" ng-model="searchkeys" class="form-control" placeholder="Search your technology...." aria-describedby="basic-addon1">
                <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1" ng-click="search()"></span>
                <!--<span class="input-group-addon" id="basic-addon1" ><button ng-click="search()">Search</button></span>-->
            </div><br />

        </div>
        <br /><br />
        <br />
    </div>

    <div class="header_banner" ng-hide="searchresultcount">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active  image-wid">
                    <img src="../../images/Salesforce.png" alt="..." class="img-responsive">
                </div>
                <div class="item  image-wid">
                    <img src="../../images/Azure.png" alt="..." class="img-responsive">

                </div>
                <div class="item  image-wid">
                    <img src="../../images/Java.png" alt="..." class="img-responsive">

                </div>
                <div class="item  image-wid">
                    <img src="../../images/MSSQLServer.png" alt="..." class="img-responsive">
                </div>
                <div class="item  image-wid">
                    <img src="../../images/TestNG.png" alt="..." class="img-responsive">
                </div>
                <div class="item  image-wid">
                    <img src="../../images/TechnologyCloud.png" alt="..." class="img-responsive">
                </div>

            </div>

        </div>
    </div>

    <div class="footer" ng-hide="searchresultcount" style="background-image: url('../../images/banner.png');">
        <div class="container">
            <div class="footer-text">
                <h3><a href="index.html">e-Pathshala</a></h3>
                <p>&#169;e-Pathshala Designed by <a href="http://www.persistent.com/" target="_blank">Persistent</a></p>
            </div>
        </div>
    </div>

    
    <div ng-show="searchresultcount">
        <br />
        <search></search>
    </div>
</div>

