<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="../../Scripts/css/style.css" rel="stylesheet" />
<div ng-controller="HomeController" ng-init="init();">
    <div>
        <div ng-hide="showsearchresult" style="background-image: url(../../images/Backgroud3.jpg); background-size: 100%; height:570px">
            <div id="categories" class="container_16" style="padding-top: 25px;">
                <a class="flip-container flipper block {{colors[(course.ID%10)]}}" href="" ng-repeat="course in categories" ng-click="btnGetAllSearchResultForCategory(course.Category);">
                    <div class="flipper-front">
                        <div class="title icon">
                            <div style="display: block; margin: auto; text-align:center">
                                {{course.Category | uppercase}}
                            </div>
                        </div>
                    </div>
                    <div class="flipper-back">
                        <div class="courses">
                            Enrollments
                            <div>{{course.NoOfEnrollments}}</div>
                        </div>
                        <div class="courses">
                            Courses
                            <div>{{course.NoOfCourses}}</div>
                        </div>
                    </div>
                </a>
                <a class="flip-container flipper block tree" href="" ng-click="btnGetAllSearchResultForCategory('')">
                    <div class="flipper-front">
                        <div class="title icon">
                            <div style="display: block; margin: auto; text-align:center">Browse All</div>
                        </div>
                    </div>
                    <div class="flipper-back">
                        <div class="courses">Browse All</div>
                    </div>
                </a>
            </div>
            <br />
            <h3 style="margin-left: 7px; margin-bottom: 5px">
                Recommendations
            </h3>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Menu -->
                <!--<ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="{{$index}}" class="{{($index == 0 ? 'active':'')}}" ng-repeat="course in courses"></li>
            </ol>-->
                <!-- Items -->
                <div class="carousel-inner">
                    <div class="{{($index == 0 ? 'item active' : 'item')}}" ng-repeat="course in courses">
                        <div style="display:block; margin-left: 45px; margin-right: 45px;">
                            <div>
                                <p>
                                    <img src="{{course.BlobUrl}}" alt="64x64" style="float: left; width: 110px; height: 110px; margin-left:25px; margin-right:10px; margin-right:" data-holder-rendered="true">{{course.Course.Description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" data-slide="prev" onclick="$('#myCarousel').carousel('prev')" style="width:5%;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" data-slide="next" onclick="$('#myCarousel').carousel('next')" style="width:5%">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#myCarousel').carousel();
                });
            </script>

        </div>
        <div ng-show="showsearchresult">
            <search></search>
        </div>
    </div>
</div>
